# Compiled class file
*.class
*.java

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# No ignores directorios de recursos
!src/main/resources/
!src/main/webapp/

# Asegúrate de no ignorar archivos de configuración importantes
!pom.xml
!build.gradle
!settings.gradle
target/generated-sources/annotations/Entidades/Cliente_.java
